{% extends "portfolio_app/base.html" %}
{% load static %}
{% block title %}Projects Page{% endblock %}
{% block content %}

<!-- START: Breadcrumb Area -->
<section class="breadcrumb_area" data-bg-image="./portfolio_app/assets/img/breadcrumb/breadcrumb-bg.jpg" data-bg-color="#140C1C">
   <div class="container">
      <div class="row">
         <div class="col">
            <div class="breadcrumb_content d-flex flex-column align-items-center">
               <h2 class="title wow fadeInUp" data-wow-delay=".3s">Portfolio</h2>
               <div class="breadcrumb_navigation wow fadeInUp" data-wow-delay=".5s">
                  <span><a href="{% url 'index' %}">Home</a></span>
                  <i class="far fa-long-arrow-right"></i>
                  <span class="current-item">Portfolio</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
<!-- END: Breadcrumb Area -->

<!-- PORTFOLIO SECTION START -->
<section class="portfolio-section" id="works-section">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div class="section-header text-center">
               <h2 class="section-title wow fadeInUp" data-wow-delay=".3s">My Recent Works</h2>
               <p class="wow fadeInUp" data-wow-delay=".4s">
                  Here’s a look at some of the awesome projects I’ve worked on recently—each one built to solve real problems with smart, creative solutions.
               </p>
            </div>
         </div>
      </div>

      <div class="row">
         <div class="col-md-12">
            <div class="portfolio-filter text-center wow fadeInUp" data-wow-delay=".5s">
               <div class="button-group filter-button-group">
                  <button data-filter="*" class="active">All</button>
                  <button data-filter=".website">Website</button>
                  <button data-filter=".mobile-app">Mobile App</button>
                  <div class="active-bg"></div>
               </div>
            </div>

            <div class="portfolio-box wow fadeInUp" data-wow-delay=".6s">
               <div class="portfolio-sizer"></div>
               <div class="gutter-sizer"></div>

               <!-- WEBSITE -->
               <div class="portfolio-item website">
                  <div class="image-box">
                    <img src="{% static 'portfolio_app/assets/img/projects/gcc-web.png' %}" alt="" />
                </div>
                <div class="content-box">
                    <h3 class="portfolio-title">Shelter Records System</h3>
                    <p>Web platform for managing inmate and staff records in shelter facilities.</p>
                    <i class="flaticon-up-right-arrow"></i>
                    <a href="https://nightshelter.gccservices.in/" target="_blank" class="portfolio-link">
                        <button class="modal-popup"></button>
                     </a>
                </div>
               </div>              
               <div class="portfolio-item website">
                  <div class="image-box">
                     <img src="{% static 'portfolio_app/assets/img/projects/custom-song.png' %}" alt="Custom Song Platform" />
                  </div>
                  <div class="content-box">
                     <h3 class="portfolio-title">Custom Song Platform</h3>
                     <p>Personalized song ordering platform allowing users to purchase customized music and manage their details through a dedicated dashboard.</p>
                     <i class="flaticon-up-right-arrow"></i>
                     <a href="https://acustomsong.com/" target="_blank" class="portfolio-link">
                        <button class="modal-popup"></button>
                     </a>
                  </div>
                  </div>
               <div class="portfolio-item website">
                  <div class="image-box">
                     <img src="{% static 'portfolio_app/assets/img/projects/qp-ss.png' %}" alt="Donation Management System" />
                  </div>
                  <div class="content-box">
                     <h3 class="portfolio-title">Donation Management System</h3>
                     <p>Online platform designed to securely collect, manage, and track donation-related data for temples and charitable institutions.</p>
                     <i class="flaticon-up-right-arrow"></i>
                     <a href="https://quickpay.srisankarapuram.com/in/" target="_blank" class="portfolio-link">
                        <button class="modal-popup"></button>
                     </a>
                  </div>
                  </div>

           

               <!-- MOBILE APP -->
               <div class="portfolio-item mobile-app">
                  <div class="image-box">
                    <img src="{% static 'portfolio_app/assets/img/projects/gcc-app.png' %}" alt="" />
                </div>
                <div class="content-box">
                    <h3 class="portfolio-title">Face Attendance App</h3>
                    <p>Mobile app enabling staff attendance tracking through facial recognition technology.</p>
                    <i class="flaticon-up-right-arrow"></i>
                    <button data-mfp-src="{% static '#portfolio-wrapper' %}"
                        class="portfolio-link modal-popup"></button>
                </div>
               </div>              
            </div>
         </div>
      </div>
   </div>
</section>
<!-- PORTFOLIO SECTION END -->



{% endblock %}
